app/pug/about.pug
extend layouts/index-layout.pug

block script
	script.
		$(document).ready(function(){
			about();
		});
block main-content
	.content(page-tag="about")
		.banner-img.about-banner
			.banner-content
				.banner-content-left
					p.banner-title 關於我們
		.content-block
			.about-block
				h2 設計師之手
				img(src="images/carousel1.jpg")
				p 「設計師之手-數位設計展示平台」由國立公共資訊圖書館自行建置，以成立設計創作展示平台為規劃主軸，將國內學生歷年創作之優秀作品建立數位典藏資料庫，提供讀者欣賞瀏覽及教學觀摩，透過平台建立，讓學生創作發揮最大價值，讓更多人看見臺灣創作動能。
				p 目前已與40餘所設計系所簽訂合作備忘錄，收錄國立臺北科技大學、國立雲林科技大學、國立臺中科技大學、國立臺中教育大學系、國立臺灣師範大學、國立臺南藝術大學、朝陽科技大學、嶺東科技大學、建國科技大學、南開科技大學、大葉大學、南台科技大學、臺南應用科技大學及第一屆台中市威達盃青少年創意影片等超過500件作品，類型包含模型、紙本、動畫互動多媒體及影片等，未來將能持續與全國設計相關系所接洽合作。
	include components/footer.pug

app/about.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>設計師之手</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content=""><meta name="apple-mobile-web-app-title" content="">
<meta name="application-name" content="">
<meta name="theme-color" content="#ffffff">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="js/slick.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanstc.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap-reboot.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/slick.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css">
    <script>
      $(document).ready(function(){
      	about();
      });
    </script>
  </head>
  <body>
    <header>
      <div class="top-header">
        <div class="top-header-left"><a href="index.html"><img src="images/logo.svg"></a><a class="mobile-logo" href="index.html"><img src="images/mobile-logo.svg"></a></div>
        <div class="top-header-right">
          <div class="top-header-search">
            <input type="text" placeholder="關鍵字檢索">
            <button type="submit"></button>
          </div>
          <div class="top-header-work-submit"><a href="#">作品上傳</a></div>
        </div>
        <div class="mobile-menu-button"><span></span><span></span><span></span></div>
      </div>
      <nav class="header-menu">
        <ul>
          <li class="mobile-search">
            <div class="mobile-header-search">
              <input type="text" placeholder="關鍵字檢索">
              <button type="submit"></button>
            </div>
          </li>
          <li><a href="new-work.html" menu-tag="news">作品新訊</a></li>
          <li><a href="theme.html" menu-tag="theme">主題特展</a></li>
          <li><a href="school-all.html" menu-tag="school">收錄系所</a></li>
          <li><a href="category.html" menu-tag="category">作品類型</a></li>
          <li><a href="info.html" menu-tag="info">產學情報</a></li>
          <li><a href="about.html" menu-tag="about">關於我們</a></li>
        </ul>
      </nav>
    </header>
    <div class="content" page-tag="about">
      <div class="banner-img about-banner">
        <div class="banner-content">
          <div class="banner-content-left">
            <p class="banner-title">關於我們</p>
          </div>
        </div>
      </div>
      <div class="content-block">
        <div class="about-block">
          <h2>設計師之手</h2><img src="images/carousel1.jpg">
          <p>「設計師之手-數位設計展示平台」由國立公共資訊圖書館自行建置，以成立設計創作展示平台為規劃主軸，將國內學生歷年創作之優秀作品建立數位典藏資料庫，提供讀者欣賞瀏覽及教學觀摩，透過平台建立，讓學生創作發揮最大價值，讓更多人看見臺灣創作動能。</p>
          <p>目前已與40餘所設計系所簽訂合作備忘錄，收錄國立臺北科技大學、國立雲林科技大學、國立臺中科技大學、國立臺中教育大學系、國立臺灣師範大學、國立臺南藝術大學、朝陽科技大學、嶺東科技大學、建國科技大學、南開科技大學、大葉大學、南台科技大學、臺南應用科技大學及第一屆台中市威達盃青少年創意影片等超過500件作品，類型包含模型、紙本、動畫互動多媒體及影片等，未來將能持續與全國設計相關系所接洽合作。</p>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-left">
        <p>國立公共資訊圖書館 版權所有 ©2018</p>
        <p>總館｜<a href="https://www.google.com.tw/maps/place/National+Library+of+Public+Information/@24.1270879,120.6683133,17z/data=!3m1!4b1!4m5!3m4!1s0x34693d0146d61257:0x7a16000e8eb3abce!8m2!3d24.127083!4d120.670502" target="_blank">402 臺中市南區五權南路100號</a></p>
        <p>電話｜<a href="tel:+8860422625100">04-2262-5100</a></p>
      </div>
      <div class="footer-right">
        <p>造訪人數｜ <span>999999999</span>人次</p>
      </div>
    </footer>
  </body>
</html>
