app/info-single.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>設計師之手</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content=""><meta name="apple-mobile-web-app-title" content="">
<meta name="application-name" content="">
<meta name="theme-color" content="#ffffff">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="js/slick.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanstc.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap-reboot.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/slick.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css">
    <script>
      $(document).ready(function(){
      	infoSingle();
      });
    </script>
  </head>
  <body>
    <header>
      <div class="top-header">
        <div class="top-header-left"><a href="index.html"><img src="images/logo.svg"></a><a class="mobile-logo" href="index.html"><img src="images/mobile-logo.svg"></a></div>
        <div class="top-header-right">
          <div class="top-header-search">
            <input type="text" placeholder="關鍵字檢索">
            <button type="submit"></button>
          </div>
          <div class="top-header-work-submit"><a href="#">作品上傳</a></div>
        </div>
        <div class="mobile-menu-button"><span></span><span></span><span></span></div>
      </div>
      <nav class="header-menu">
        <ul>
          <li class="mobile-search">
            <div class="mobile-header-search">
              <input type="text" placeholder="關鍵字檢索">
              <button type="submit"></button>
            </div>
          </li>
          <li><a href="new-work.html" menu-tag="news">作品新訊</a></li>
          <li><a href="theme.html" menu-tag="theme">主題特展</a></li>
          <li><a href="school-all.html" menu-tag="school">收錄系所</a></li>
          <li><a href="category.html" menu-tag="category">作品類型</a></li>
          <li><a href="info.html" menu-tag="info">產學情報</a></li>
          <li><a href="about.html" menu-tag="about">關於我們</a></li>
        </ul>
      </nav>
    </header>
    <div class="content" page-tag="info">
      <div class="banner-img about-banner">
        <div class="banner-content">
          <div class="banner-content-left">
            <p class="banner-title">產學情報</p>
          </div>
        </div>
      </div>
      <div class="content-block">
        <div class="about-block">
          <h2>台科、北科、雲科退出新一代設計展！　3校聯合開個展</h2><img src="images/d3126320.jpg">
          <p>「新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。</p>
          <p>聯合展出的5系包含台科大設計系、創意設計學士班、北科大互動設計系、創意設計學士班、雲科大數位媒體設計系，作品類別有產品類、空間類、影像類、互動類、平面類5種；預計的參展作品有180件，由264位參展者所設計，在5月26~29日展出4天。</p>
          <p>粉專表示，參展者來自3所不同的設計學院，各自擁有著不同「Tag」，但在複雜的設計網絡中，卻因為這場展覽讓彼此共有了同一個「Tag」，成了能夠「交流」與「合作」的夥伴，因此這次的展出名稱定為「Hashtag #___」，一種透過關鍵字連結來進行交流與表達的媒介。</p>
          <p>新一代設計展是全世界最大規模的學生設計展，也是許多新人能趁機跟業界交流、結交人脈的場合，但歷年來高額的場租費用、雜亂的動線安排，讓許多設計系學生卻步；學生們形容，「看展要門票，學生一毛都沒拿到還要繳錢，最後這份經歷也沒幫助找工作，這不是勒索嗎？」</p><img src="images/d608252.jpg">
          <p>學生們表示，除了經費真的是「坑人」之外，新一代展期只有4天，展場卻有幾千件作品，「如果不爭奇鬥豔，根本不會有人看到你在哪！」但爭奇鬥豔的作品不見得有市場價值，讓學生花了大錢做賣不出去的東西，而學校又把新一代當成是畢業標準，根本是互相欺騙。</p>
          <p>雖然教育部在去年承諾，會跟經濟部跨部會合作，由政府全額支應場地租金，其他行政費用也會透過對各校補助來進行，但仍讓不少人萌生退意。「學生出錢出力出時間精神，不但沒有回本，功勞還是學校的，讓學校風光曝光、招攬學生，我們只能付錢為了畢業拿學分。」</p>
          <p>去年成大工業設計系就表示，「設計」一詞被廣泛運用在各個場域，但設計系的人卻很少出現在大眾眼前，希望呈現設計者本身的內涵、作品產生的影響，利用比較聚焦的展場模式，雖然看起來不那麼熱鬧，但卻更能給觀看者更親近的體驗。今年的3校聯合展也表示，他們連結了更多的Hashtag，「觀者能透過Tag找到作品背後的故事與意義，我們也透過Tag找到與大眾交流的連結！」</p>
        </div>
        <div class="single-back"><a class="single-back-button" href="javascript:history.back()">返回上一頁</a></div>
      </div>
    </div>
    <footer>
      <div class="footer-left">
        <p>國立公共資訊圖書館 版權所有 ©2018</p>
        <p>總館｜<a href="https://www.google.com.tw/maps/place/National+Library+of+Public+Information/@24.1270879,120.6683133,17z/data=!3m1!4b1!4m5!3m4!1s0x34693d0146d61257:0x7a16000e8eb3abce!8m2!3d24.127083!4d120.670502" target="_blank">402 臺中市南區五權南路100號</a></p>
        <p>電話｜<a href="tel:+8860422625100">04-2262-5100</a></p>
      </div>
      <div class="footer-right">
        <p>造訪人數｜ <span>999999999</span>人次</p>
      </div>
    </footer>
  </body>
</html>

app/pug/info-single.pug
extend layouts/index-layout.pug

block script
	script.
		$(document).ready(function(){
			infoSingle();
		});
block main-content
	.content(page-tag="info")
		.banner-img.about-banner
			.banner-content
				.banner-content-left
					p.banner-title 產學情報
		.content-block
			.about-block
				h2 台科、北科、雲科退出新一代設計展！　3校聯合開個展
				img(src="images/d3126320.jpg")
				p 「新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。
				p 聯合展出的5系包含台科大設計系、創意設計學士班、北科大互動設計系、創意設計學士班、雲科大數位媒體設計系，作品類別有產品類、空間類、影像類、互動類、平面類5種；預計的參展作品有180件，由264位參展者所設計，在5月26~29日展出4天。
				p 粉專表示，參展者來自3所不同的設計學院，各自擁有著不同「Tag」，但在複雜的設計網絡中，卻因為這場展覽讓彼此共有了同一個「Tag」，成了能夠「交流」與「合作」的夥伴，因此這次的展出名稱定為「Hashtag #___」，一種透過關鍵字連結來進行交流與表達的媒介。
				p 新一代設計展是全世界最大規模的學生設計展，也是許多新人能趁機跟業界交流、結交人脈的場合，但歷年來高額的場租費用、雜亂的動線安排，讓許多設計系學生卻步；學生們形容，「看展要門票，學生一毛都沒拿到還要繳錢，最後這份經歷也沒幫助找工作，這不是勒索嗎？」
				img(src="images/d608252.jpg")
				p 學生們表示，除了經費真的是「坑人」之外，新一代展期只有4天，展場卻有幾千件作品，「如果不爭奇鬥豔，根本不會有人看到你在哪！」但爭奇鬥豔的作品不見得有市場價值，讓學生花了大錢做賣不出去的東西，而學校又把新一代當成是畢業標準，根本是互相欺騙。
				p 雖然教育部在去年承諾，會跟經濟部跨部會合作，由政府全額支應場地租金，其他行政費用也會透過對各校補助來進行，但仍讓不少人萌生退意。「學生出錢出力出時間精神，不但沒有回本，功勞還是學校的，讓學校風光曝光、招攬學生，我們只能付錢為了畢業拿學分。」
				p 去年成大工業設計系就表示，「設計」一詞被廣泛運用在各個場域，但設計系的人卻很少出現在大眾眼前，希望呈現設計者本身的內涵、作品產生的影響，利用比較聚焦的展場模式，雖然看起來不那麼熱鬧，但卻更能給觀看者更親近的體驗。今年的3校聯合展也表示，他們連結了更多的Hashtag，「觀者能透過Tag找到作品背後的故事與意義，我們也透過Tag找到與大眾交流的連結！」
			.single-back
				a(href="javascript:history.back()").single-back-button 返回上一頁
	include components/footer.pug
