app/pug/info.pug
extend layouts/index-layout.pug

block script
	script.
		$(document).ready(function(){
			info();
		});
block main-content
	.content(page-tag="info")
		.banner-img.info-banner
			.banner-content
				.banner-content-left
					p.banner-title 產學情報
		.content-block
			.info.row
				- var works = [{image: "background-image: url('images/work1.jpg')", alt: "work1", title: "台科、北科、雲科退出新一代設計展！ 3校聯合開個展", info: "新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。"}, {image: "background-image: url('images/work2.jpg')", alt: "work2", title: "文化部A+創意季競賽 朝陽科大設計學院最大贏家", info: "新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。"},{image: "background-image: url('images/work1.jpg')", alt: "work1", title: "南台科大學生研發自動驅鳥器 勇奪A+創意大賽", info: "新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。"}, {image: "background-image: url('images/work2.jpg')", alt: "work2", title: "2018 A+創意季參展爆炸 逾千件作品創新紀錄", info: "新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。"},{image: "background-image: url('images/work1.jpg')", alt: "work1", title: "台科、北科、雲科退出新一代設計展！ 3校聯合開個展", info: "新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。"}, {image: "background-image: url('images/work2.jpg')", alt: "work2", title: "文化部A+創意季競賽 朝陽科大設計學院最大贏家", info: "新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。"},{image: "background-image: url('images/work1.jpg')", alt: "work1", title: "南台科大學生研發自動驅鳥器 勇奪A+創意大賽", info: "新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。"}, {image: "background-image: url('images/work2.jpg')", alt: "work2", title: "2018 A+創意季參展爆炸 逾千件作品創新紀錄", info: "新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。"}]
					each work in works
						.info-block-wrap.col-12.col-md-3.theme-wrap
							.info-block
								a.info-img(style=work.image, alt=work.alt, href="#")
								.info-p-box
									p.info-title
										a(href="#")=work.title
									p.info-text
										a(href="#")=work.info
								a(href="#").info-more more
	include components/footer.pug

app/info.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>設計師之手</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content=""><meta name="apple-mobile-web-app-title" content="">
<meta name="application-name" content="">
<meta name="theme-color" content="#ffffff">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="js/slick.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanstc.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap-reboot.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/slick.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css">
    <script>
      $(document).ready(function(){
      	info();
      });
    </script>
  </head>
  <body>
    <header>
      <div class="top-header">
        <div class="top-header-left"><a href="index.html"><img src="images/logo.svg"></a><a class="mobile-logo" href="index.html"><img src="images/mobile-logo.svg"></a></div>
        <div class="top-header-right">
          <div class="top-header-search">
            <input type="text" placeholder="關鍵字檢索">
            <button type="submit"></button>
          </div>
          <div class="top-header-work-submit"><a href="#">作品上傳</a></div>
        </div>
        <div class="mobile-menu-button"><span></span><span></span><span></span></div>
      </div>
      <nav class="header-menu">
        <ul>
          <li class="mobile-search">
            <div class="mobile-header-search">
              <input type="text" placeholder="關鍵字檢索">
              <button type="submit"></button>
            </div>
          </li>
          <li><a href="new-work.html" menu-tag="news">作品新訊</a></li>
          <li><a href="theme.html" menu-tag="theme">主題特展</a></li>
          <li><a href="school-all.html" menu-tag="school">收錄系所</a></li>
          <li><a href="category.html" menu-tag="category">作品類型</a></li>
          <li><a href="info.html" menu-tag="info">產學情報</a></li>
          <li><a href="about.html" menu-tag="about">關於我們</a></li>
        </ul>
      </nav>
    </header>
    <div class="content" page-tag="info">
      <div class="banner-img info-banner">
        <div class="banner-content">
          <div class="banner-content-left">
            <p class="banner-title">產學情報</p>
          </div>
        </div>
      </div>
      <div class="content-block">
        <div class="info row">
          <div class="info-block-wrap col-12 col-md-3 theme-wrap">
            <div class="info-block"><a class="info-img" style="background-image: url('images/work1.jpg');" alt="work1" href="#"></a>
              <div class="info-p-box">
                <p class="info-title"><a href="#">台科、北科、雲科退出新一代設計展！ 3校聯合開個展</a></p>
                <p class="info-text"><a href="#">新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。</a></p>
              </div><a class="info-more" href="#">more</a>
            </div>
          </div>
          <div class="info-block-wrap col-12 col-md-3 theme-wrap">
            <div class="info-block"><a class="info-img" style="background-image: url('images/work2.jpg');" alt="work2" href="#"></a>
              <div class="info-p-box">
                <p class="info-title"><a href="#">文化部A+創意季競賽 朝陽科大設計學院最大贏家</a></p>
                <p class="info-text"><a href="#">新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。</a></p>
              </div><a class="info-more" href="#">more</a>
            </div>
          </div>
          <div class="info-block-wrap col-12 col-md-3 theme-wrap">
            <div class="info-block"><a class="info-img" style="background-image: url('images/work1.jpg');" alt="work1" href="#"></a>
              <div class="info-p-box">
                <p class="info-title"><a href="#">南台科大學生研發自動驅鳥器 勇奪A+創意大賽</a></p>
                <p class="info-text"><a href="#">新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。</a></p>
              </div><a class="info-more" href="#">more</a>
            </div>
          </div>
          <div class="info-block-wrap col-12 col-md-3 theme-wrap">
            <div class="info-block"><a class="info-img" style="background-image: url('images/work2.jpg');" alt="work2" href="#"></a>
              <div class="info-p-box">
                <p class="info-title"><a href="#">2018 A+創意季參展爆炸 逾千件作品創新紀錄</a></p>
                <p class="info-text"><a href="#">新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。</a></p>
              </div><a class="info-more" href="#">more</a>
            </div>
          </div>
          <div class="info-block-wrap col-12 col-md-3 theme-wrap">
            <div class="info-block"><a class="info-img" style="background-image: url('images/work1.jpg');" alt="work1" href="#"></a>
              <div class="info-p-box">
                <p class="info-title"><a href="#">台科、北科、雲科退出新一代設計展！ 3校聯合開個展</a></p>
                <p class="info-text"><a href="#">新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。</a></p>
              </div><a class="info-more" href="#">more</a>
            </div>
          </div>
          <div class="info-block-wrap col-12 col-md-3 theme-wrap">
            <div class="info-block"><a class="info-img" style="background-image: url('images/work2.jpg');" alt="work2" href="#"></a>
              <div class="info-p-box">
                <p class="info-title"><a href="#">文化部A+創意季競賽 朝陽科大設計學院最大贏家</a></p>
                <p class="info-text"><a href="#">新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。</a></p>
              </div><a class="info-more" href="#">more</a>
            </div>
          </div>
          <div class="info-block-wrap col-12 col-md-3 theme-wrap">
            <div class="info-block"><a class="info-img" style="background-image: url('images/work1.jpg');" alt="work1" href="#"></a>
              <div class="info-p-box">
                <p class="info-title"><a href="#">南台科大學生研發自動驅鳥器 勇奪A+創意大賽</a></p>
                <p class="info-text"><a href="#">新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。</a></p>
              </div><a class="info-more" href="#">more</a>
            </div>
          </div>
          <div class="info-block-wrap col-12 col-md-3 theme-wrap">
            <div class="info-block"><a class="info-img" style="background-image: url('images/work2.jpg');" alt="work2" href="#"></a>
              <div class="info-p-box">
                <p class="info-title"><a href="#">2018 A+創意季參展爆炸 逾千件作品創新紀錄</a></p>
                <p class="info-text"><a href="#">新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。</a></p>
              </div><a class="info-more" href="#">more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-left">
        <p>國立公共資訊圖書館 版權所有 ©2018</p>
        <p>總館｜<a href="https://www.google.com.tw/maps/place/National+Library+of+Public+Information/@24.1270879,120.6683133,17z/data=!3m1!4b1!4m5!3m4!1s0x34693d0146d61257:0x7a16000e8eb3abce!8m2!3d24.127083!4d120.670502" target="_blank">402 臺中市南區五權南路100號</a></p>
        <p>電話｜<a href="tel:+8860422625100">04-2262-5100</a></p>
      </div>
      <div class="footer-right">
        <p>造訪人數｜ <span>999999999</span>人次</p>
      </div>
    </footer>
  </body>
</html>
