app/pug/school-all.pug
extend layouts/index-layout.pug

block script
	script.
		$(document).ready(function(){
			schoolAll();
		});
block main-content
	.content(page-tag="school")
		.banner-img.school-year-banner
		.content-block
			.schools-wrap
				.school-region
					.school-region-block
						.school-title
							span.school-title-area 北部
						.schools-block
							- var schools = [{name: "臺灣科技大學"},{name: "輔仁大學"},{name: "臺灣師範大學"},{name: "臺北科技大學"},{name: "實踐大學"},{name: "中原大學"},{name: "臺灣藝術大學"},{name: "銘傳大學"}]
									each school in schools
										a(href="#")=school.name
					.school-region-block
						.school-title
							span.school-title-area 中部
						.schools-block
							- var schools = [{name: "臺中科技大學"},{name: "南臺科技大學"},{name: "朝陽科技大學"},{name: "嶺東科技大學"},{name: "亞洲科技大學"},{name: "逢甲大學"},{name: "東海大學"}]
									each school in schools
										a(href="#")=school.name
					.school-region-block
						.school-title
							span.school-title-area 南部
						.schools-block
							- var schools = [{name: "雲林科技大學"},{name: "南臺應用科技大學"},{name: "樹德科技大學"},{name: "崑山科技大學"},{name: "成功大學"},{name: "嘉南藥理大學"},{name: "高雄大學"}]
									each school in schools
										a(href="#")=school.name
				// .school-trend
				// 	.school-title
				// 		span.school-title-area 熱門學校
				// 	- var schools = [{name: "臺灣科技大學"},{name: "亞洲大學"},{name: "成功大學"},{name: "臺灣藝術大學"},{name: "雲林科技大學"}]
				// 		each school in schools
				// 			.school-trend-block
				// 				p.school-trend-name=school.name
				// 				.school-trend-img-block
				// 					- var schoolImg = [{image: "background-image: url('../images/trend1.jpg')", alt: "1"},{image: "background-image: url('../images/trend2.jpg')", alt: "2"},{image: "background-image: url('../images/trend3.jpg')", alt: "3"}]
				// 						each img in schoolImg
				// 							a.school-trend-img(style=img.image, href="#")
	include components/footer.pug

app/school-all.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>設計師之手</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content=""><meta name="apple-mobile-web-app-title" content="">
<meta name="application-name" content="">
<meta name="theme-color" content="#ffffff">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="js/slick.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanstc.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap-reboot.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/slick.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css">
    <script>
      $(document).ready(function(){
      	schoolAll();
      });
    </script>
  </head>
  <body>
    <header>
      <div class="top-header">
        <div class="top-header-left"><a href="index.html"><img src="images/logo.svg"></a><a class="mobile-logo" href="index.html"><img src="images/mobile-logo.svg"></a></div>
        <div class="top-header-right">
          <div class="top-header-search">
            <input type="text" placeholder="關鍵字檢索">
            <button type="submit"></button>
          </div>
          <div class="top-header-work-submit"><a href="#">作品上傳</a></div>
        </div>
        <div class="mobile-menu-button"><span></span><span></span><span></span></div>
      </div>
      <nav class="header-menu">
        <ul>
          <li class="mobile-search">
            <div class="mobile-header-search">
              <input type="text" placeholder="關鍵字檢索">
              <button type="submit"></button>
            </div>
          </li>
          <li><a href="new-work.html" menu-tag="news">作品新訊</a></li>
          <li><a href="theme.html" menu-tag="theme">主題特展</a></li>
          <li><a href="school-all.html" menu-tag="school">收錄系所</a></li>
          <li><a href="category.html" menu-tag="category">作品類型</a></li>
          <li><a href="info.html" menu-tag="info">產學情報</a></li>
          <li><a href="about.html" menu-tag="about">關於我們</a></li>
        </ul>
      </nav>
    </header>
    <div class="content" page-tag="school">
      <div class="banner-img school-year-banner"></div>
      <div class="content-block">
        <div class="schools-wrap">
          <div class="school-region">
            <div class="school-region-block">
              <div class="school-title"><span class="school-title-area">北部</span></div>
              <div class="schools-block"><a href="#">臺灣科技大學</a><a href="#">輔仁大學</a><a href="#">臺灣師範大學</a><a href="#">臺北科技大學</a><a href="#">實踐大學</a><a href="#">中原大學</a><a href="#">臺灣藝術大學</a><a href="#">銘傳大學</a>
              </div>
            </div>
            <div class="school-region-block">
              <div class="school-title"><span class="school-title-area">中部</span></div>
              <div class="schools-block"><a href="#">臺中科技大學</a><a href="#">南臺科技大學</a><a href="#">朝陽科技大學</a><a href="#">嶺東科技大學</a><a href="#">亞洲科技大學</a><a href="#">逢甲大學</a><a href="#">東海大學</a>
              </div>
            </div>
            <div class="school-region-block">
              <div class="school-title"><span class="school-title-area">南部</span></div>
              <div class="schools-block"><a href="#">雲林科技大學</a><a href="#">南臺應用科技大學</a><a href="#">樹德科技大學</a><a href="#">崑山科技大學</a><a href="#">成功大學</a><a href="#">嘉南藥理大學</a><a href="#">高雄大學</a>
              </div>
            </div>
          </div>
          <!-- .school-trend-->
          <!-- 	.school-title-->
          <!-- 		span.school-title-area 熱門學校-->
          <!-- 	- var schools = [{name: "臺灣科技大學"},{name: "亞洲大學"},{name: "成功大學"},{name: "臺灣藝術大學"},{name: "雲林科技大學"}]-->
          <!-- 		each school in schools-->
          <!-- 			.school-trend-block-->
          <!-- 				p.school-trend-name=school.name-->
          <!-- 				.school-trend-img-block-->
          <!-- 					- var schoolImg = [{image: "background-image: url('../images/trend1.jpg')", alt: "1"},{image: "background-image: url('../images/trend2.jpg')", alt: "2"},{image: "background-image: url('../images/trend3.jpg')", alt: "3"}]-->
          <!-- 						each img in schoolImg-->
          <!-- 							a.school-trend-img(style=img.image, href="#")-->
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-left">
        <p>國立公共資訊圖書館 版權所有 ©2018</p>
        <p>總館｜<a href="https://www.google.com.tw/maps/place/National+Library+of+Public+Information/@24.1270879,120.6683133,17z/data=!3m1!4b1!4m5!3m4!1s0x34693d0146d61257:0x7a16000e8eb3abce!8m2!3d24.127083!4d120.670502" target="_blank">402 臺中市南區五權南路100號</a></p>
        <p>電話｜<a href="tel:+8860422625100">04-2262-5100</a></p>
      </div>
      <div class="footer-right">
        <p>造訪人數｜ <span>999999999</span>人次</p>
      </div>
    </footer>
  </body>
</html>
