app/school-year.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>設計師之手</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content=""><meta name="apple-mobile-web-app-title" content="">
<meta name="application-name" content="">
<meta name="theme-color" content="#ffffff">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="js/slick.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanstc.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap-reboot.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/slick.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css">
    <script>
      $(document).ready(function(){
      	schoolYear();
      });
    </script>
  </head>
  <body>
    <header>
      <div class="top-header">
        <div class="top-header-left"><a href="index.html"><img src="images/logo.svg"></a><a class="mobile-logo" href="index.html"><img src="images/mobile-logo.svg"></a></div>
        <div class="top-header-right">
          <div class="top-header-search">
            <input type="text" placeholder="關鍵字檢索">
            <button type="submit"></button>
          </div>
          <div class="top-header-work-submit"><a href="#">作品上傳</a></div>
        </div>
        <div class="mobile-menu-button"><span></span><span></span><span></span></div>
      </div>
      <nav class="header-menu">
        <ul>
          <li class="mobile-search">
            <div class="mobile-header-search">
              <input type="text" placeholder="關鍵字檢索">
              <button type="submit"></button>
            </div>
          </li>
          <li><a href="new-work.html" menu-tag="news">作品新訊</a></li>
          <li><a href="theme.html" menu-tag="theme">主題特展</a></li>
          <li><a href="school-all.html" menu-tag="school">收錄系所</a></li>
          <li><a href="category.html" menu-tag="category">作品類型</a></li>
          <li><a href="info.html" menu-tag="info">產學情報</a></li>
          <li><a href="about.html" menu-tag="about">關於我們</a></li>
        </ul>
      </nav>
    </header>
    <div class="content" page-tag="school">
      <div class="banner-img school-year-banner">
        <div class="banner-content">
          <div class="banner-content-left">
            <p class="banner-title">臺北科技大學</p>
          </div>
        </div>
      </div>
      <div class="content-block">
        <div class="filter">
          <div class="filter-block">
            <p>年份</p>
            <div class="filter-dropdown">
              <select class="multi-select" multiple="multiple">
                <option>2018</option>
                <option>2017</option>
              </select>
            </div>
          </div>
          <div class="filter-block">
            <p>學院</p>
            <div class="filter-dropdown">
              <select class="multi-select" multiple="multiple">
                <option>臺北科技大學</option>
                <option>實踐大學</option>
                <option>臺北科技大學</option>
                <option>實踐大學</option>
              </select>
            </div>
          </div>
          <div class="filter-block">
            <p>系所</p>
            <div class="filter-dropdown">
              <select class="multi-select" multiple="multiple">
                <option>建築學系</option>
                <option>視覺傳達設計學系</option>
              </select>
            </div>
          </div>
          <div class="filter-block">
            <p>作品類型</p>
            <div class="filter-dropdown">
              <select class="multi-select" multiple="multiple">
                <option>平面設計</option>
                <option>服裝設計</option>
              </select>
            </div>
          </div>
          <div class="filter-submit">
            <button type="submit">確認</button>
          </div>
        </div>
        <div class="works margin-b-50">
          <div class="work-block-slider-wrap">
            <div class="work-block-slider row">
              <div class="work-block-wrap school-work-block-wrap col-12 col-sm-6 col-md-3">
                <div class="work-block"><a class="work-img" style="background-image: url('images/work1.jpg');" alt="work1" href="#"></a>
                  <div class="work-info-box">
                    <p class="work-category"><a href="#">畢業展作品集</a></p>
                    <p class="work-student">王大明</p>
                    <p class="work-school"><a href="#">國立臺灣師範大學設計學系</a></p>
                    <p class="work-count"><span class="count-circle"></span><span>8888</span></p>
                  </div>
                </div>
              </div>
              <div class="work-block-wrap school-work-block-wrap col-12 col-sm-6 col-md-3">
                <div class="work-block"><a class="work-img" style="background-image: url('images/work2.jpg');" alt="work1" href="#"></a>
                  <div class="work-info-box">
                    <p class="work-category"><a href="#">畢業展作品集</a></p>
                    <p class="work-student">王大明</p>
                    <p class="work-school"><a href="#">國立臺灣師範大學設計學系</a></p>
                    <p class="work-count"><span class="count-circle"></span><span>8888</span></p>
                  </div>
                </div>
              </div>
              <div class="work-block-wrap school-work-block-wrap col-12 col-sm-6 col-md-3">
                <div class="work-block"><a class="work-img" style="background-image: url('images/work3.jpg');" alt="work3" href="#"></a>
                  <div class="work-info-box">
                    <p class="work-category"><a href="#">畢業展作品集</a></p>
                    <p class="work-student">王大明</p>
                    <p class="work-school"><a href="#">國立臺灣師範大學設計學系</a></p>
                    <p class="work-count"><span class="count-circle"></span><span>8888</span></p>
                  </div>
                </div>
              </div>
              <div class="work-block-wrap school-work-block-wrap col-12 col-sm-6 col-md-3">
                <div class="work-block"><a class="work-img" style="background-image: url('images/work1.jpg');" alt="work1" href="#"></a>
                  <div class="work-info-box">
                    <p class="work-category"><a href="#">畢業展作品集</a></p>
                    <p class="work-student">王大明</p>
                    <p class="work-school"><a href="#">國立臺灣師範大學設計學系</a></p>
                    <p class="work-count"><span class="count-circle"></span><span>8888</span></p>
                  </div>
                </div>
              </div>
              <div class="work-block-wrap school-work-block-wrap col-12 col-sm-6 col-md-3">
                <div class="work-block"><a class="work-img" style="background-image: url('images/work2.jpg');" alt="work1" href="#"></a>
                  <div class="work-info-box">
                    <p class="work-category"><a href="#">畢業展作品集</a></p>
                    <p class="work-student">王大明</p>
                    <p class="work-school"><a href="#">國立臺灣師範大學設計學系</a></p>
                    <p class="work-count"><span class="count-circle"></span><span>8888</span></p>
                  </div>
                </div>
              </div>
              <div class="work-block-wrap school-work-block-wrap col-12 col-sm-6 col-md-3">
                <div class="work-block"><a class="work-img" style="background-image: url('images/work3.jpg');" alt="work3" href="#"></a>
                  <div class="work-info-box">
                    <p class="work-category"><a href="#">畢業展作品集</a></p>
                    <p class="work-student">王大明</p>
                    <p class="work-school"><a href="#">國立臺灣師範大學設計學系</a></p>
                    <p class="work-count"><span class="count-circle"></span><span>8888</span></p>
                  </div>
                </div>
              </div>
              <div class="work-block-wrap school-work-block-wrap col-12 col-sm-6 col-md-3">
                <div class="work-block"><a class="work-img" style="background-image: url('images/work1.jpg');" alt="work1" href="#"></a>
                  <div class="work-info-box">
                    <p class="work-category"><a href="#">畢業展作品集</a></p>
                    <p class="work-student">王大明</p>
                    <p class="work-school"><a href="#">國立臺灣師範大學設計學系</a></p>
                    <p class="work-count"><span class="count-circle"></span><span>8888</span></p>
                  </div>
                </div>
              </div>
              <div class="work-block-wrap school-work-block-wrap col-12 col-sm-6 col-md-3">
                <div class="work-block"><a class="work-img" style="background-image: url('images/work2.jpg');" alt="work1" href="#"></a>
                  <div class="work-info-box">
                    <p class="work-category"><a href="#">畢業展作品集</a></p>
                    <p class="work-student">王大明</p>
                    <p class="work-school"><a href="#">國立臺灣師範大學設計學系</a></p>
                    <p class="work-count"><span class="count-circle"></span><span>8888</span></p>
                  </div>
                </div>
              </div>
              <div class="work-block-wrap school-work-block-wrap col-12 col-sm-6 col-md-3">
                <div class="work-block"><a class="work-img" style="background-image: url('images/work3.jpg');" alt="work3" href="#"></a>
                  <div class="work-info-box">
                    <p class="work-category"><a href="#">畢業展作品集</a></p>
                    <p class="work-student">王大明</p>
                    <p class="work-school"><a href="#">國立臺灣師範大學設計學系</a></p>
                    <p class="work-count"><span class="count-circle"></span><span>8888</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-left">
        <p>國立公共資訊圖書館 版權所有 ©2018</p>
        <p>總館｜<a href="https://www.google.com.tw/maps/place/National+Library+of+Public+Information/@24.1270879,120.6683133,17z/data=!3m1!4b1!4m5!3m4!1s0x34693d0146d61257:0x7a16000e8eb3abce!8m2!3d24.127083!4d120.670502" target="_blank">402 臺中市南區五權南路100號</a></p>
        <p>電話｜<a href="tel:+8860422625100">04-2262-5100</a></p>
      </div>
      <div class="footer-right">
        <p>造訪人數｜ <span>999999999</span>人次</p>
      </div>
    </footer>
  </body>
</html>

app/pug/school-year.pug
extend layouts/index-layout.pug

block script
	script.
		$(document).ready(function(){
			schoolYear();
		});
block main-content
	.content(page-tag="school")
		.banner-img.school-year-banner
			.banner-content
				.banner-content-left
					p.banner-title 臺北科技大學
		.content-block
			include components/filter.pug
			.works.margin-b-50
				.work-block-slider-wrap
					.work-block-slider.row
						- var works = [{image: "background-image: url('images/work1.jpg')", alt: "work1", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"},{image: "background-image: url('images/work2.jpg')", alt: "work1", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"},{image: "background-image: url('images/work3.jpg')", alt: "work3", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"},{image: "background-image: url('images/work1.jpg')", alt: "work1", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"},{image: "background-image: url('images/work2.jpg')", alt: "work1", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"},{image: "background-image: url('images/work3.jpg')", alt: "work3", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"},{image: "background-image: url('images/work1.jpg')", alt: "work1", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"},{image: "background-image: url('images/work2.jpg')", alt: "work1", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"},{image: "background-image: url('images/work3.jpg')", alt: "work3", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"}]
							each work in works
								.work-block-wrap.school-work-block-wrap.col-12.col-sm-6.col-md-3
									.work-block
										a.work-img(style=work.image, alt=work.alt, href="#")
										.work-info-box
											p.work-category
												a(href="#")=work.category
											p.work-student=work.student
											p.work-school
												a(href="#")=work.school
											p.work-count
												span.count-circle
												span=work.count
	include components/footer.pug
