app/work-single.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>設計師之手</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content=""><meta name="apple-mobile-web-app-title" content="">
<meta name="application-name" content="">
<meta name="theme-color" content="#ffffff">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="js/slick.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanstc.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap-reboot.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/slick.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css">
    <script>
      $(document).ready(function(){
      	workSingle();
      });
    </script>
  </head>
  <body>
    <header>
      <div class="top-header">
        <div class="top-header-left"><a href="index.html"><img src="images/logo.svg"></a><a class="mobile-logo" href="index.html"><img src="images/mobile-logo.svg"></a></div>
        <div class="top-header-right">
          <div class="top-header-search">
            <input type="text" placeholder="關鍵字檢索">
            <button type="submit"></button>
          </div>
          <div class="top-header-work-submit"><a href="#">作品上傳</a></div>
        </div>
        <div class="mobile-menu-button"><span></span><span></span><span></span></div>
      </div>
      <nav class="header-menu">
        <ul>
          <li class="mobile-search">
            <div class="mobile-header-search">
              <input type="text" placeholder="關鍵字檢索">
              <button type="submit"></button>
            </div>
          </li>
          <li><a href="new-work.html" menu-tag="news">作品新訊</a></li>
          <li><a href="theme.html" menu-tag="theme">主題特展</a></li>
          <li><a href="school-all.html" menu-tag="school">收錄系所</a></li>
          <li><a href="category.html" menu-tag="category">作品類型</a></li>
          <li><a href="info.html" menu-tag="info">產學情報</a></li>
          <li><a href="about.html" menu-tag="about">關於我們</a></li>
        </ul>
      </nav>
    </header>
    <div class="content" page-tag="work">
      <div class="work-single-info-block">
        <div class="work-title-info-block">
          <div class="work-title-p">
            <p>畢業展作品</p>
          </div>
          <div class="work-title-view">
            <p class="work-count"><span class="count-circle"></span><span>88888</span></p>
          </div>
        </div>
        <div class="work-info-block">
          <div class="work-grid author-grid">
            <p class="work-grid-title">設計者</p>
            <p>王大明、劉小偉、王大明、劉小偉、王大明、劉小偉</p>
          </div>
          <div class="work-grid">
            <p class="work-grid-title">作品類型</p><a href="#">包裝設計</a>
          </div>
          <div class="work-grid">
            <p class="work-grid-title">學校系所</p>
            <p>國立臺灣師範大學設計學系</p>
          </div>
          <div class="work-grid">
            <p class="work-grid-title">作品形式</p>
            <p>平面、立體</p>
          </div>
          <div class="work-grid">
            <p class="work-grid-title">指導老師</p>
            <p>林教授、王教授、張教授</p>
          </div>
          <div class="work-grid des-grid">
            <p class="work-grid-title">作品簡介</p>
            <p>介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹</p>
          </div>
          <div class="work-grid">
            <p class="work-grid-title">上傳日期</p>
            <p>2018年08月20日</p>
          </div>
          <div class="work-grid note-grid">
            <p class="work-grid-title">備註</p>
            <p>備註</p>
          </div>
          <div class="work-grid last-grid">
            <p class="work-grid-title">CC創用授權範圍</p><img src="images/cc.png">
          </div>
          <div class="work-grid">
            <p class="work-grid-title">檔案下載</p><a class="work-grid-download" href="images/single-work2.jpg" download="檔案名稱">下載PDF</a>
          </div>
        </div>
        <div class="work-info-img">
          <video controls>
            <source src="http://192.192.47.103/ntl/upload/collection/coll_MOV_2016614104757.mp4">
          </video><img src="images/single-work2.jpg"><img src="images/single-work3.jpg">
        </div>
        <div class="single-back"><a class="single-back-button" href="javascript:history.back()">返回上一頁</a></div>
      </div>
    </div>
    <footer>
      <div class="footer-left">
        <p>國立公共資訊圖書館 版權所有 ©2018</p>
        <p>總館｜<a href="https://www.google.com.tw/maps/place/National+Library+of+Public+Information/@24.1270879,120.6683133,17z/data=!3m1!4b1!4m5!3m4!1s0x34693d0146d61257:0x7a16000e8eb3abce!8m2!3d24.127083!4d120.670502" target="_blank">402 臺中市南區五權南路100號</a></p>
        <p>電話｜<a href="tel:+8860422625100">04-2262-5100</a></p>
      </div>
      <div class="footer-right">
        <p>造訪人數｜ <span>999999999</span>人次</p>
      </div>
    </footer>
  </body>
</html>

app/pug/work-single.pug
extend layouts/index-layout.pug

block script
	script.
		$(document).ready(function(){
			workSingle();
		});
block main-content
	.content(page-tag="work")
		.work-single-info-block
			.work-title-info-block
				.work-title-p
					p 畢業展作品
				.work-title-view
					p.work-count
						span.count-circle
						span 88888
			.work-info-block
				.work-grid.author-grid
					p.work-grid-title 設計者
					p 王大明、劉小偉、王大明、劉小偉、王大明、劉小偉
				.work-grid
					p.work-grid-title 作品類型
					a(href="#") 包裝設計
				.work-grid
					p.work-grid-title 學校系所
					p 國立臺灣師範大學設計學系
				.work-grid
					p.work-grid-title 作品形式
					p 平面、立體
				.work-grid
					p.work-grid-title 指導老師
					p 林教授、王教授、張教授
				.work-grid.des-grid
					p.work-grid-title 作品簡介
					p 介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹
				.work-grid
					p.work-grid-title 上傳日期
					p 2018年08月20日
				.work-grid.note-grid
					p.work-grid-title 備註
					p 備註
				.work-grid.last-grid
					p.work-grid-title CC創用授權範圍
					img(src="images/cc.png")
				.work-grid
					p.work-grid-title 檔案下載
					a(href="images/single-work2.jpg" download="檔案名稱").work-grid-download 下載PDF
			.work-info-img
				video(controls)
					source(src="http://192.192.47.103/ntl/upload/collection/coll_MOV_2016614104757.mp4")
				img(src="images/single-work2.jpg")
				img(src="images/single-work3.jpg")
			.single-back
				a(href="javascript:history.back()").single-back-button 返回上一頁
	include components/footer.pug
