app/components/carousel.html

<div class="carousel slide" id="index-carousel" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="active" data-target="#index-carousel" data--slide-to="0"></li>
    <li class="active" data-target="#index-carousel" data--slide-to="1"></li>
    <li class="active" data-target="#index-carousel" data--slide-to="2"></li>
  </ol>
  <div class="carousel-inner"><a class="carousel-item active" href="#">
      <div class="d-block w-100" style="background-image: url('images/carousel1.jpg');" alt="slide1">
        <div class="carousel-info-wrap">
          <div class="carousel-info">
            <p class="c-info-year">中原大學商業設計系畢業展</p>
            <p class="c-info-date">作者</p>
          </div>
        </div>
      </div></a><a class="carousel-item" href="#">
      <div class="d-block w-100" style="background-image: url('images/carousel2.jpg');" alt="slide2">
        <div class="carousel-info-wrap">
          <div class="carousel-info">
            <p class="c-info-year">中原大學商業設計系畢業展</p>
            <p class="c-info-date">作者</p>
          </div>
        </div>
      </div></a><a class="carousel-item" href="#">
      <div class="d-block w-100" style="background-image: url('images/carousel3.jpg');" alt="slide3">
        <div class="carousel-info-wrap">
          <div class="carousel-info">
            <p class="c-info-year">中原大學商業設計系畢業展</p>
            <p class="c-info-date">作者</p>
          </div>
        </div>
      </div></a>
  </div><a class="carousel-control-prev" href="#index-carousel" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#index-carousel" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span></a>
</div>

app/pug/components/carousel.pug
#index-carousel.carousel.slide(data-ride="carousel")
	ol.carousel-indicators
		li(data-target="#index-carousel", data--slide-to="0", class="active")
		li(data-target="#index-carousel", data--slide-to="1", class="active")
		li(data-target="#index-carousel", data--slide-to="2", class="active")
	.carousel-inner
		- var carousel = [{image: "background-image: url('images/carousel1.jpg')", alt: "slide1", active: "active", infoYear: "2019", author: "作者", school: "中原大學商業設計系畢業展"}, { image: "background-image: url('images/carousel2.jpg')", alt: "slide2", infoYear: "2019", author: "作者", school: "中原大學商業設計系畢業展"}, {image: "background-image: url('images/carousel3.jpg')", alt: "slide3", infoYear: "2019", author: "作者", school: "中原大學商業設計系畢業展"}]
			each slide in carousel
				a.carousel-item(class=slide.active, href="#")
					.d-block.w-100(style=slide.image, alt=slide.alt)
						.carousel-info-wrap
							.carousel-info
								p.c-info-year=slide.school
								p.c-info-date=slide.author
	a.carousel-control-prev(href="#index-carousel", role="button", data-slide="prev")
		span.carousel-control-prev-icon(aria-hidden="true")
		span.sr-only Previous
	a.carousel-control-next(href="#index-carousel", role="button", data-slide="next")
		span.carousel-control-next-icon(aria-hidden="true")
		span.sr-only Next
