app/components/short-filter.html

<div class="filter">
  <div class="filter-block">
    <p>年份</p>
    <div class="filter-dropdown">
      <select class="multi-select" multiple="multiple">
        <option>2018</option>
        <option>2017</option>
      </select>
    </div>
  </div>
  <div class="filter-block">
    <p>學院</p>
    <div class="filter-dropdown">
      <select class="multi-select" multiple="multiple">
        <option>臺北科技大學</option>
        <option>實踐大學</option>
      </select>
    </div>
  </div>
  <div class="filter-block">
    <p>系所</p>
    <div class="filter-dropdown">
      <select class="multi-select" multiple="multiple">
        <option>建築學系</option>
        <option>視覺傳達設計學系</option>
      </select>
    </div>
  </div>
  <div class="filter-submit">
    <button type="submit">確認</button>
  </div>
</div>

app/pug/components/short-filter.pug
.filter
	.filter-block
		p 年份
		.filter-dropdown
			select.multi-select(multiple="multiple")
				option 2018
				option 2017
	.filter-block
		p 學院
		.filter-dropdown
			select.multi-select(multiple="multiple")
				option 臺北科技大學
				option 實踐大學
	.filter-block
		p 系所
		.filter-dropdown
			select.multi-select(multiple="multiple")
				option 建築學系
				option 視覺傳達設計學系
	.filter-submit
		button(type="submit") 確認
